.container {
    z-index: 1;
    width: 100%;
    max-width: 1350px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    overflow: hidden;
}

.navContainer {
    margin-top: .5rem;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.navLeft {
    display: flex;
}

.navRight {
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    font-size: 20px;
    font-weight: 800;
}

.navmenu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
}

.navItem {
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .navbar {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 568px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}
