.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container h2 {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
    row-gap: 1rem;
    padding: 2rem;
    border: 1.5px solid var(--dark);
}
