.sliderControls {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--dark);
    border-top: none;
    user-select: none;
}

.chevron {
    font-size: 20px;
    color: var(--dark);
    cursor: pointer;
}

.filled {
    font-size: 4rem;
    line-height: 0;
    cursor: pointer
}

.hollow {
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--dark);
    cursor: pointer;
}