.container {
    border-top: none;
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.topLeft {
    border: 1.5px solid var(--dark);
    border-top: none;
    padding: 5rem;
}

.topRight {
    border: 1.5px solid var(--dark);
    border-top: none;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem
}

.topRight {
    padding: 5rem;
}