.container {
    border-top: none;
}

.top {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}


.topLeft {
    border: 1.5px solid var(--dark);
    padding: 5rem;
    margin-top: 1rem;
}

.title {
    text-transform: uppercase;
    line-height: 120%;
    color: var(--dark);
    position: relative;
}

/* .title span {
    color: var(--orange);
}

.title span:after {
    position: absolute;
    content: 'GREATNESS';
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark);
    top: 78px;
    left: 10px;
    z-index: -10;
} */


.topRight {
    border: 1.5px solid var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
}

.btnContainer {
    display: flex;
    margin-top: 3rem;
}

.featured {
    text-transform: uppercase;
    color: var(--dark);
    text-align: center;   
}

@media screen and (max-width: 1068px) {
    .topLeft, .topRight {
        padding: 2rem;
    }
}

@media screen and (max-width: 1040px) {
    .top {
        grid-template-columns: repeat(1, 1fr);
    }

    .topRight {
        border-left: 1.5px solid var(--dark);
        margin-top: 0rem;
    }
}

@media screen and (max-width: 480px) {
    .btnContainer {
        display: block;
    }
}