
.container table {
    width: 100%;
}

.container thead {
    text-align: left;
    border: 1.5px solid var(--dark);
}

.cart {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.itemsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 3px solid var(--orange)
}

.imgName {
    display: flex;
    align-items: center;
}

.box {
    border: 1.5px solid var(--dark);
    padding: 1rem;
}

.subtotalCheckoutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}