.content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.left { 
    flex: 3;
}

.right {
    flex: 1;
}


.container table {
    width: 100%;
}

.container thead {
    text-align: left;
    border: 1.5px solid var(--dark);
}

.cart {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.itemsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 3px solid var(--orange);
}

.imgName {
    display: flex;
    align-items: center;
}

.imgLink {
    cursor: pointer;
}

.box {
    border: 1.5px solid var(--dark);
    padding: 1rem;
}

.select select {
    background-color: var(--light);
    padding: 1rem;
    border: 1.5px solid var(--dark);
}

.removeHeading {
    margin-top: 1rem;
}

.heading {
    margin-bottom: 1rem;
}

.subtotalCheckoutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 968px) {
    .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}