@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Cormorant+Garamond:wght@300&family=Pinyon+Script&family=Poppins:wght@100;200;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

@font-face {
  font-family: "Ethelvina";
  src: url("/fonts/Ethelvina.ttf");
}

@font-face {
  font-family: "Avestrava";
  src: url("/fonts/Avestrava.ttf");
}

@font-face {
  font-family: "Seagram";
  src: url("/fonts/Seagram.ttf");
}

@font-face {
  font-family: "Clockwork";
  src: url("/fonts/Clockwork.ttf");
}

@font-face {
  font-family: "birds";
  src: url("/fonts/birds.ttf");
}

:root {
  --light: #f9f5e8;
  --dark: #454545;
  --orange: #FB5522;
  --color1: #1C2B45;
  --color2: #CD1818;
  --color3: #FB9300;
  --color4: #f9f5e8;
  --color52: #4E9F3D;
  --color5: #064635;
  --color6: #2F2519;
  --color7: #0E63AF;
  --color8: #F1C445;
}

* {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 150%;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  background-color: var(--light);
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input {
  font-weight: 400;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--accent4);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent1);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  p {
    font-size: 113.7%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
  p {
    font-size: 125%;
  }
}