.title {
    /* color: var(--color1); */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.itemsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 568px) {
    .btnContainer {
        display: block;
    }
}