.content {
    display: flex;
    gap: 1rem;
}

.left { 
    flex: 3;
}

.right { 
    flex: 1;
}

.title {
    color: var(--dark);
    margin-top: 3rem;
}

.edit {
    color: var(--orange);
    font-weight: bold;
}

.detailsContainer {
    padding: 1rem;
    border: 3px solid var(--orange);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details {
    border: 1.5px solid var(--dark);
    padding: 1rem;
}

.itemsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.imgName {
    display: flex;
    align-items: center;
}

.imgLink {
    cursor: pointer;
}

.box {
    border: 1.5px solid var(--dark);
    padding: 1rem;
}

.select select {
    background-color: var(--light);
    padding: 1rem;
    border: 1.5px solid var(--dark);
}

.removeHeading {
    margin-top: 1rem;
}

.heading {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}