.labelContainer {
    margin-top: 1rem;
}

.content {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.itemsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}