.formContent {
    padding: 3rem;
}

.title {
    color: var(--dark);
    margin-top: 3rem;
}

.formContent {
    display: flex;flex-direction: column;
}

.labelInputBox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.labelInputBox label {
    font-size: 2rem;
    font-weight: bold;
}

.labelInputBox input {
    width: 60%;
    resize: none;
    padding: .5rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--dark);
    background-color: var(--light);
    border: 1.5px solid var(--dark);
    outline: none;
}

.btnContainer {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}